.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid transparent;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;

        h1 {
            font-size: 2.25rem;
            font-family: "Azeret Mono", "Poppins", Arial, monospace;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            margin-top: 0.4rem;
            animation: appear 0.3s forwards ease;
        }

        svg {
            width: 1.25rem;
            opacity: 0.5;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.75;
            }
        }
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
        animation: appear 0.3s forwards ease;

        a {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        h3 {
            font-weight: 500;
            font-size: 1rem;
        }

        li:not(li:last-child) {
            opacity: 0.5;
            transition: opacity 0.3s ease;
        }

        li:not(li:last-child):hover {
            opacity: 1;
        }

        li:last-of-type {
            margin-left: 1rem;
        }

        svg {
            width: 1.25rem;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-0.5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
