.presets {
    position: absolute;
    width: 25rem;
    margin: 8rem;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: appear 0.2s ease forwards;
    height: 30rem;
    overflow: auto;

    &__head {
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 1.75rem;
        }

        svg {
            width: 1.5rem;
        }

        button {
            cursor: pointer;
            opacity: 0.75;
            transition: opacity 0.2s ease;
        }

        button:hover {
            opacity: 1;
        }
    }

    &__head--arrow {
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        h2 {
            font-size: 1.5rem;
        }
    }

    &__upload {
        cursor: pointer;
    }

    &__delete {
        margin-left: auto;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            font-size: 1.125rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        svg {
            width: 1.5rem;
        }

        button {
            opacity: 0.75;
            transition: opacity 0.2s ease;
        }

        button:hover {
            opacity: 1;
        }
    }

    input {
        width: 100%;
        background-color: transparent;
        padding: 0.5rem;
        border: none;
        border: 2px solid transparent;
        font-size: 1.125rem;
        opacity: 0.75;
        border-radius: 0.5rem;

        &:focus {
            outline: none;
            opacity: 1;
        }
    }

    textarea {
        width: 100%;
        background-color: transparent;
        padding: 0.5rem;
        border: 2px solid transparent;
        border-radius: 0.5rem;
        min-height: 5rem;
        resize: vertical;
        font-size: 1rem;
        opacity: 0.75;

        &:focus {
            outline: none;
            opacity: 1;
        }
    }

    &__list {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    &__button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: 2px solid transparent;
        transition: border 0.2s ease, opacity 0.2s ease;
        opacity: 0.75;
        cursor: pointer;
        display: flex;
        gap: 0.25rem;
        align-items: center;
        height: 3rem;

        &:hover {
            opacity: 1;
        }
    }

    &__button svg {
        height: 1.5rem;
    }

    &__select {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
    }

    &__button--select {
        padding: 0.5rem;
        font-weight: bold;
        cursor: pointer;
    }

    &__par {
        font-size: 14px;
    }

    &__save {
        margin: 0 auto;
        padding: 0.5rem 1.5rem;
        border: 0.125rem solid transparent;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1.125rem;
        opacity: 0.75;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
